:root {
  --accent-color: var(--light-green);

  --light-green: rgb(0, 206, 62);

  --white: #fafafa;

  --dark-grey: #212121;
  --grey: rgb(66, 66, 66);
  --light-grey: rgb(77, 77, 77);
}

$border-radius: 8px;

body {
  background-color: #212121;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
}

button {
  background-color: var(--grey);
  transition: background-color 0.2s;
  will-change: background-color;
  border-radius: $border-radius;
  padding: 0 15px;
  height: 40px;
  width: fit-content;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background-color: var(--light-grey);
    }
  }
}

.k-popup {
  padding: 20px 20px 40px 40px;
  background-color: var(--light-grey);
  border-radius: $border-radius;
  color: var(--white);
  width: clamp(300px, 600px, 90vw);

  & button {
    margin-left: auto;
    display: block;
    background-color: transparent;
  }
}
