---
import Popup from '../components/Popup.astro';
import StarRating from '../components/StarRating.astro';
import Layout from '../layouts/Layout.astro';
import Cross1 from "@astropub/icons/Cross1";

---

<Layout title="Welcome to Astro.">
	<main>
		<Popup backdrop="#00000057">
			<span slot="button-open">open popup</span>
			<i slot="button-close">
				<Cross1 size="22" fill="var(--light-green)"/>
			</i>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, voluptatum dolores quam necessitatibus perferendis, quae ipsum ea dolorem, quod minus culpa reprehenderit iure sit magni est sunt ducimus! Nulla, aperiam.
				Aspernatur sunt modi fuga voluptas, deleniti labore obcaecati in eos quisquam reprehenderit est molestias at blanditiis autem! Officiis ipsa molestiae reiciendis suscipit provident illum nostrum perspiciatis ipsam vero fugit. Veritatis!
				Asperiores, similique nesciunt vitae blanditiis dolore quae. Totam ex inventore ad officia, fugit corrupti quae vero error! Accusamus deleniti quis aliquam ex unde est in modi praesentium, illum cumque quia!
				Deleniti quibusdam tempore eius sit commodi rem sequi harum dolorum saepe quo dolores quidem laboriosam neque, iste porro facere accusantium. Libero fugit eaque a ea quam veniam autem neque quis.
				Laboriosam alias sequi nulla, iure veritatis hic dolore vero! Nulla reiciendis quam dignissimos commodi, nemo delectus velit dolorem odio, officia blanditiis, explicabo dolorum consequatur! Qui ducimus nihil itaque ratione quos?
				Deleniti quae, corrupti explicabo aut repellendus numquam minima tenetur quidem blanditiis aliquam, est ex. Sit illo eos quae beatae aspernatur eius, repudiandae quaerat! Possimus officia blanditiis facilis neque dolores quod.
				Quo reiciendis at, accusantium totam vel ratione libero ipsum modi sed quam commodi soluta minus nihil fugit officia sapiente? Odit quasi aliquam earum soluta similique vel quisquam possimus illo nisi!
				Quisquam, explicabo possimus. Placeat laboriosam vero, explicabo saepe, veniam illum veritatis impedit vel totam facilis aut voluptatibus! Reiciendis praesentium recusandae nihil consequatur, perspiciatis architecto et quasi accusantium pariatur maxime quisquam.
				Deleniti animi saepe magni molestiae dolorum, ducimus veritatis, tempore nisi voluptates, quasi suscipit voluptatum numquam qui possimus. Obcaecati, enim, molestias dolores nam facere mollitia nihil inventore fugit quibusdam laboriosam ducimus.
				Minus vitae aliquid quo aperiam atque recusandae voluptatibus ex! Quod ut eaque, rem itaque, voluptatem nemo commodi corporis architecto aliquid hic fugit minus delectus aliquam consectetur voluptatibus ex ipsum harum.
			</p>
		</Popup>
		
		<StarRating/>
	</main>
</Layout>

<style>
	
</style>
