---
import { getRandomString } from "../functions/random";

const getRandomID = getRandomString();

const { backdrop } = Astro.props;
---
<button popovertarget={getRandomID}>
    <slot name="button-open">
</button>

<dialog popover role="dialog" id={getRandomID} class="k-popup">
    <button popovertarget={getRandomID}>
        <slot name="button-close"/>
    </button>
    <div>
      <slot></slot>
    </div>
</dialog>

<style lang="scss" define:vars={{backdrop}}>
dialog {
  transition: opacity 0.2s, transform 0.2s, display 0.2s allow-discrete;
  max-height: calc(100dvh - 40px);
  opacity: 0;
  transform: scale(0.8);

  &:popover-open {
    opacity: 1;
    transform: scale(1);

    @starting-style {
      & {
        opacity: 0;
        transform: scale(0.8);
      }
    }
  }

  &::backdrop {
    background-color: var(--backdrop);
  }
}
</style>

<!-- 
### Приклад використання ###

1) Імпортувати та інінціалізувати компонент <Popup></Popup>
2) Додати в компонент тег з атрибутом slot="button-open" в який помістити текст або іконку для кнопки відкриття 
3) Додати в компонент тег з атрибутом slot="button-close" в який помістити текст або іконку для кнопки закриття вікна
4) Додати контент 
5) Якщо потрібен певний задній фон то його можна задатии в props backdrop

---
import Cross1 from "@astropub/icons/Cross1";
---
<Popup backdrop="#00000057">
    <span slot="button-open">Open Pop-Up</span>

    <i slot="button-close">
        <Cross1 size="22" fill="grey"/>
    </i>

    <p>
        Твій контент
    </p>
</Popup> 
-->
